body {
  margin: 0px;
  padding: 0px;
  background-color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  color: #222;
}

a {
  text-decoration: none;
  color: #222;
}

li {
  list-style: none;
}

button, input {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  outline: none;
}