body{
    margin: 0px;
    padding: 0px;
    background-color: #222222;
    color: #eeeeee;
}

input::placeholder{
    color: pink;
}

/* button{
    color: #44ffff;
    background-color: #41680f;
} */



