* {
  margin: 0 auto;
}

.dash--panel {
  margin: 0;
  display: inherit;
  align-items: inherit;
  justify-content: center;
  flex-direction: column;
  width: 900px;
  height: 600px;
  background-color: white;
  border-radius: 0 10px 10px 0;
  border: 1px solid #1a581950;
}

.dash--title {
  font-size: 2.0rem;
  letter-spacing: 0.1rem;
  margin-bottom: 0;
}

.dash--subtitle {
  margin-top: 0;
  margin-bottom: 24px;
}

ul {
  margin-bottom: 20px;
}

.activity--ul {
  display: inherit;
  flex-direction: row;
  width: 600px;
  height: fit-content;
  padding: 0;
  margin: 0;
  text-align: left;
}

.activity--ul>ul {
  display: inherit;
  flex-direction: column;
  width: inherit;
  height: inherit;
  background-color: #dddddd;
  list-style-type: none;
  padding: inherit;
  margin-left: 10px; 
  margin-right: 10px;
}

.activity--ul>ul>div,
.activity--ul>ul>li {
  display: inherit;
  align-items: center;
  width: 100%;
  text-align: left;
  height: 30px;
  border: 1px solid black;
  margin-bottom: 2px;
  text-indent: 10px;
}

.ul--header {
  background-color: #123d11;
  color: #fafafa;
}